header {
    top: 0;

    border-radius: 20px;
    text-align: center;
}

header img {
    margin-top: 30px;
    width: 200px;
    border-radius: 100px;
    /* background-color: rgb(255, 0, 0); */
}

header h1 {
    text-shadow: 2px 10px 1px red;
    color: yellow;
    margin-top: 0;
    margin: 30px 0px;
    position: relative;
}